
<div class="background-booking-index">
  <%= render 'shared/navbar' %>
  <h1> Dog Bookings </h1>
  <div class="booking-grid-index">
    <% @bookings.each do |booking| %>
      <%= render 'shared/bookings_card', booking: booking %>
    <% end %>
  </div>
</div>
