<%= render 'shared/navbar' %>

<div class="d-flex justify-content-center" id="h1-boxes-index"><h1>Available Pup Boxes</h1> </div>

<div class="index-container">

  <div class="cards">
    <% @boxes.each do |box| %>
      <div class="">
        <%= render 'shared/card', box: box%>
      </div>
    <% end %>

  </div>
<div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

 </div>



</div>

