<%= render 'shared/navbar' %>

<h1 class="d-flex justify-content-center" id="h1-boxes-index">Available Pup Boxes </h1>

<div class="index-container">

  <div class="cards">
    <% @boxes.each do |box| %>
      <div class="col-sm">
        <%= render 'shared/card', box: box%>
      </div>
    <% end %>

  </div>
</div>
