<%= render 'shared/navbar' %>

<div class="h1">Available Pup Boxes </div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= render 'shared/card'%>
    </div>
    <div class="col-sm">
      <%= render 'shared/card'%>
    </div>
    <div class="col-sm">
      <%= render 'shared/card'%>
    </div>
  </div>
</div>
