<div class="card-box">
  <div class="image" style="background-image: url('https://images.unsplash.com/photo-1511976773147-53cdbeb9fa8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80')"  id="card-image"/>
  </div>
  <div class="card-box-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-box-pricing">25CHF par nuit</h2>
   </div>
</div>
