
<%= render 'shared/navbar' %>
<div class="background-img" >
 <div class="container">
  <h1>Welcome to Dog-BnB!</h1>
  <p>The only place where you can find a place for your dog to vacation, while you're on vacation.</p>
  <%= form_tag boxes_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find accomodations near you..."
    %><%= submit_tag "Woof", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
