.background-img {
  background-image: asset-url('homepageimg.jpg');
  background-repeat: none;
  background-size: cover;
  display: block;
  height: 800px;
  width: 100vw;
  background-position: right;
}

