.navbar {
  justify-content: space-between;
  background: white;
}

.navbar {
  flex-grow: 0;
}

#dog-bnb-navbar {
  background-color: #282828;
}

#home-button {
  font-size: 50px;
  color: white;
}


